.App {
  text-align: center;
}

.title {
  color: #7ebc59;
}

.min-width {
  font-size: 30px;
}

.max-width h1 {
  font-size: 135px;
}

li {
  display: inline;
  margin-right: 1em;
}

.navbar {
  list-style: none;
  background-color: #E3E3E3;
  padding: 15px 10px;
  margin: 0;
}

.navbar-left {
  float: left; 
}

.navbar-right {
  text-align: right;
}
